<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.lokongsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.lokongsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.lokongsapplication.app.modules.viewfacilitiestwo.ui.ViewFacilitiesTwoActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lokongsapplication.app.modules.viewfacilities.ui.ViewFacilitiesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.geolocation.ui.GeoLocationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.book.ui.BookActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.enteryourcurrentlocation.ui.EnterYourCurrentLocationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.viewfacilitiesone.ui.ViewFacilitiesOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.popup.ui.PopUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.underconstruction.ui.UnderConstructionActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.cale.ui.CaleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.loginpage.ui.LogInPageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.blogs.ui.BlogsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.loginpopup.ui.LoginPopupActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.homepage.ui.HomePageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.viewfacilitiesthree.ui.ViewFacilitiesThreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lokongsapplication.app.modules.signuppopup.ui.SignupPopupActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
